@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Padauk&family=Pragati+Narrow&display=swap');
:root {
    --font1:'Cantarell', sans-serif;
    --font2: 'Pragati Narrow', sans-serif;
    --font3:'Padauk', sans-serif;
    --font-white: rgb(255, 255, 255);
}

  
.made {
display: block;
color: #f2f2f2;
font-size: 0.75rem;
text-align: center;
}

* {
box-sizing: border-box;
}

.aptitudes-container {
    display: flex;
    flex-direction: column;
    align-self:center;
    justify-content: center;
    align-items: center;
    width: 80vh;
    margin: 5vh auto;
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgb(146, 0, 0);

}

.container__progressbars {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
min-width: 270px;
width: 100%;
min-height: 100%;
}

.progressbar {
position: relative;
width: 170px;
height: 170px;
margin: 1em;
transform: rotate(-90deg);
}

.progressbar__svg {
position: relative;
width: 100%;
height: 100%;
}

.progressbar__svg-circle {
width: 100%;
height: 100%;
fill: none;
stroke-width: 10;
stroke-dasharray: 440;
stroke-dashoffset: 440;
stroke: white;
stroke-linecap: round;
transform: translate(5px, 5px);
}

.shadow-html {
filter: drop-shadow(0 0 5px #ff6633);
}
.shadow-css {
filter: drop-shadow(0 0 5px #33bbff);
}
.shadow-scss {
filter: drop-shadow(0 0 5px #ff33ff);
}
.shadow-js {
filter: drop-shadow(0 0 5px #ffff33);
}
.shadow-ts {
filter: drop-shadow(0 0 5px #3377ff);
}
.shadow-node {
filter: drop-shadow(0 0 5px #55ff33);
}
.shadow-react {
filter: drop-shadow(0 0 5px #33ffff);
}
.shadow-angular {
filter: drop-shadow(0 0 5px #ff3333);
}
.shadow-vue {
filter: drop-shadow(0 0 5px #33ff88);
}

.circle-html {
-webkit-animation: anim_circle-html 1s ease-in-out forwards;
        animation: anim_circle-html 1s ease-in-out forwards;
}
.circle-css {
-webkit-animation: anim_circle-css 1s ease-in-out forwards;
        animation: anim_circle-css 1s ease-in-out forwards;
}
.circle-scss {
-webkit-animation: anim_circle-scss 1s ease-in-out forwards;
        animation: anim_circle-scss 1s ease-in-out forwards;
}
.circle-js {
-webkit-animation: anim_circle-js 1s ease-in-out forwards;
        animation: anim_circle-js 1s ease-in-out forwards;
}
.circle-ts {
-webkit-animation: anim_circle-ts 1s ease-in-out forwards;
        animation: anim_circle-ts 1s ease-in-out forwards;
}
.circle-node {
-webkit-animation: anim_circle-node 1s ease-in-out forwards;
        animation: anim_circle-node 1s ease-in-out forwards;
}
.circle-react {
-webkit-animation: anim_circle-react 1s ease-in-out forwards;
        animation: anim_circle-react 1s ease-in-out forwards;
}
.circle-angular {
-webkit-animation: anim_circle-angular 1s ease-in-out forwards;
        animation: anim_circle-angular 1s ease-in-out forwards;
}
.circle-vue {
-webkit-animation: anim_circle-vue 1s ease-in-out forwards;
        animation: anim_circle-vue 1s ease-in-out forwards;
}

.progressbar__text {
position: absolute;
top: 50%;
left: 50%;
padding: 0.25em 0.5em;
color: white;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0.25em;
transform: translate(-50%, -50%) rotate(90deg);
}

@-webkit-keyframes anim_circle-html {
to {
    stroke-dashoffset: 22;
}
}

@keyframes anim_circle-html {
to {
    stroke-dashoffset: 22;
}
}
@-webkit-keyframes anim_circle-css {
to {
    stroke-dashoffset: 66;
}
}
@keyframes anim_circle-css {
to {
    stroke-dashoffset: 66;
}
}
@-webkit-keyframes anim_circle-scss {
to {
    stroke-dashoffset: 132;
}
}
@keyframes anim_circle-scss {
to {
    stroke-dashoffset: 132;
}
}
@-webkit-keyframes anim_circle-js {
to {
    stroke-dashoffset: 88;
}
}
@keyframes anim_circle-js {
to {
    stroke-dashoffset: 88;
}
}
@-webkit-keyframes anim_circle-ts {
to {
    stroke-dashoffset: 198;
}
}
@keyframes anim_circle-ts {
to {
    stroke-dashoffset: 198;
}
}
@-webkit-keyframes anim_circle-node {
to {
    stroke-dashoffset: 308;
}
}
@keyframes anim_circle-node {
to {
    stroke-dashoffset: 308;
}
}
@-webkit-keyframes anim_circle-react {
to {
    stroke-dashoffset: 387.2;
}
}
@keyframes anim_circle-react {
to {
    stroke-dashoffset: 387.2;
}
}
@-webkit-keyframes anim_circle-angular {
to {
    stroke-dashoffset: 418;
}
}
@keyframes anim_circle-angular {
to {
    stroke-dashoffset: 418;
}
}
@-webkit-keyframes anim_circle-vue {
to {
    stroke-dashoffset: 431.2;
}
}
@keyframes anim_circle-vue {
to {
    stroke-dashoffset: 431.2;
}
}




/* Responsive */
@media(max-width: 1000px) {
    .aptitudes-container
    {
        max-width: 600px;
    }
}