@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Padauk&family=Pragati+Narrow&display=swap');
:root {
    --font1:'Cantarell', sans-serif;
    --font2: 'Pragati Narrow', sans-serif;
    --font3:'Padauk', sans-serif;
    --font-white: rgb(255, 255, 255);
    --silver: #8B939C; /*Roman Silver*/
    --orange: #FF4A1C; /*Red Orange Color Wheel*/
    --gold: #F3A712; /*Marigold*/
    --dark_blue: #1B1F3B; /*Space Cadet*/
    --light: #F7EBEC; /*Lavender Blush*/
    --bordo: #721817;
    --box-background: #0b0e22; /*Color de fondo del rectangulo*/
    --black: #000000; 
}

.back-top {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: var(--silver);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 20px;
  width: 300px;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.back-top a:hover,
.back-top:hover,
.back-top:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.back-top:active {
  background: var(--color);
  color: #fff;
}

.back-top a{
    text-decoration: none;
    color: inherit;
}